# Common folders to ignore of the tree systems: server, mobile and web
node_modules
package-lock.json
.env

# Logs to ignore
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Server files to ignore
dist
coverage
dist-ssr
*.local

# Mobile files to ignore
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# Editor directories and files
.vscode
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# macOS
.DS_Store